html {

    background-color: black;
    text-align: center;
}
h1 {
    
        color: white;
        font-size: 50px;
        font-family: Veranda, sans-serif;

}
h2 {
    
        color: white;
        font-size: 42px;
        font-family: Veranda, sans-serif;

}


.download {
    color: aquamarine;
    font-size: 16px;
    font-family: Veranda, sans-serif;
}

#remember {
    color: gray;
    font-size: 21px;
    font-family: Veranda, sans-serif;
}
footer p {
        color: gray;
        text-align: right;
        
}
