/* Normalize.css-like reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background-color: var(--main-bg-color);
  text-align: center;
}

body {
  
  line-height: 1.5;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  margin: 0;
}

button, input, textarea, select {
  font: inherit;
  margin: 0;
}

:focus {
  outline: 2px solid blue;
}



/* Base styles */
:root {
    --main-bg-color: black;
    --text-color-white: white;
    --text-color-gray: gray;
    --text-color-aquamarine: aquamarine;
    --font-primary: Veranda, sans-serif;      
}


/*  Typography */

h1, h2  {
    color: var(--text-color-white);     
    font-family: var(--font-primary);
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 42px;   
}

.download {
    color: var(--text-color-aquamarine);
    font-size: 16px;
    font-family: var(--font-primary);
}

#remember {
    color: var(--text-color-gray);
    font-size: 21px;
    font-family: var(--font-primary);
}

.download:hover {
    color: var(--text-color-white);
    text-decoration: underline;
}

footer  {
        color: var(--text-color-gray);
        text-align: right;
        padding: 20px 40px;
              
}

/* image layout */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.guide-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.guide-images img {
    width: 100%;
    height: auto;
}

/* Media queries */

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    .download {
        font-size: 14px;
    }
    #remember {
        font-size: 18px;
    }
}
